<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>


</head>
<body>
    <div> 회원가입
        <form action="/join" method="POST" >
            <div>ID: <input type="text" id="id" name="username" > </input></div>
            <div>패스워드: <input type="text" id="password" name="password"> </input></div>
            <div>email: </div>:<input type="text" id="email" name="email"> </input></div>


        <button>확인</button>
    </form>
    </div>

</body>
</html>